<div class="search-component">

  <div class="row">
    <div class="col-2">
      <select name="cmbAnio" id="cmbAnio"  class="form-select mb-3" aria-label="Año" [(ngModel)]="cmbAnio" (ngModelChange) = "enviaConsulta($event)" >
        <option value="Todos">Todos</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
      </select>
    </div>
    <div class="col-2">
      <select name="cmbMes" id="cmbMes" class="form-select mb-3" aria-label="Mes" [(ngModel)]="cmbMes" (ngModelChange) = "enviaConsulta($event)">
        <option value="Todos">Todos</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>

  </div>








</div>
