<div class="search-component">

  <div class="row">
    <div class="col-2">
      <select name="cmbAnio" id="cmbAnio"  class="form-select mb-3" aria-label="Año">
        <option value="Todos">Todos</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
      </select>
    </div>
    <div class="col-2">
      <select name="cmbEmisor" id="cmbEmisor" class="form-select mb-3" aria-label="Emisor">
        <option value=34>ALICOSTA BK HOLDING S A</option>
        <option value=64>ALIMENTOS ECUATORANOS ALIMEC S.A</option>
        <option value=56>BANCO AMAZONAS</option>
        <option value=28>BANCO BOLIVARIANO C.A.</option>
        <option value=50>BANCO DE LA PRODUCCION S.A . PRODUBANCO</option>
        <option value=21>BANCO GUAYAQUIL S.A.</option>
        <option value=24>BANCO PICHINCHA C.A.</option>
        <option value=30>BANCO SOLIDARIO S.A.</option>
        <option value=67>BEVERAGE BRAND PATENTS SA</option>
        <option value=62>BOLSA DE VALORES DE GUAYAQUIL</option>
        <option value=59>BOLSA DE VALORES DE QUITO</option>
        <option value=18>BRIKAPITAL SA</option>
        <option value=61>CEPSA</option>
        <option value=40>CERRO ALTO HIGHFOREST S A</option>
        <option value=41>CERRO VERDE FORESTAL S A BIGFOREST</option>
        <option value=15>CERVECERIA NACIONAL CN S A</option>
        <option value=63>CERVECERIA NACIONAL CN S A PREFERIDAS</option>
        <option value=69>CIALCO CONSTRUCTORA IMPORTADORA ALVAREZ</option>
        <option value=31>CONCLINA C A  CIA CONJU CLINICO NACIONAL</option>
        <option value=29>CONTINENTAL TIRE ANDINA S A</option>
        <option value=60>CORP.DESARROLLO.M.S.HIPOTECAS  CTH</option>
        <option value=16>CORPORACION FAVORITA C.A.</option>
        <option value=35>CRIDESA</option>
        <option value=46>EL TECAL</option>
        <option value=22>HOLCIM ECUADOR S.A.</option>
        <option value=27>HOLDING TONICORP S.A.</option>
        <option value=47>HOMEFOREST EL REFUGIO FORESTAL S A</option>
        <option value=19>HOTEL COLON</option>
        <option value=57>INDUSTRIAS ALES</option>
        <option value=54>INGENIO AZUCARERO DEL NORTE</option>
        <option value=26>INVERSANCARLOS</option>
        <option value=32>LA CAMPINA FORESTAL STRONGFOREST S A</option>
        <option value=38>LA COLINA FORESTAL (HILLFOREST) S.A.</option>
        <option value=43>LA CUMBRE FORESTAL PEAKFOREST SA</option>
        <option value=20>LA ENSENADA FORESTAL COVEFORESTS SA</option>
        <option value=44>LA ESTANCIA FORESTAL FORESTEAD S A</option>
        <option value=42>LA RESERVA FORESTAL S.A.(REFOREST)</option>
        <option value=52>LA SABANA FORESTAL (PLAINFOREST) S.A.</option>
        <option value=53>LA VANGUARDIA FORESTAL</option>
        <option value=37>MERIZA</option>
        <option value=66>MULTI-BG S.A. CORPORACION</option>
        <option value=33>MUTUALISTA PICHINCHA</option>
        <option value=58>NATLUK SA</option>
        <option value=45>PATHFOREST S.A. EL SENDERO FORESTAL</option>
        <option value=23>QUITOLINDO QUITO LINDO SA</option>
        <option value=36>RETRATOREC S.A.</option>
        <option value=48>RIO CONGO FORESTAL</option>
        <option value=17>RIO GRANDE FORESTAL RIVERFOREST SA</option>
        <option value=25>SAN CARLOS SOC. AGR. IND.</option>
        <option value=68>SIEMPREVERDE SA</option>
        <option value=49>SUPERDEPORTE S.A.</option>
        <option value=55>SURPAPELCORP S A</option>
        <option value=70>TECAFORTUNA SA</option>
        <option value=65>TECATEAK SA</option>
        <option value=51>UNACEM ECUADOR SA</option>
        <option value=39>VALLE GRANDE FORESTAL</option>
      </select>
    </div>

  </div>








</div>
